label, input, textarea{
    display: block;
}

input, textarea {
    width: 90%;
}

textarea {
    height: 8em;
}

.colorbox {
    border: 0;
    padding: 0;
    height: 2em;
}

pre {
    font-family: 'TopazPlus a500a1000a2000','mOsOul',Monaco,monospace;
    font-size: 16;
    border: 2px inset #808080;
}

label {
    font-size: 10;
}

div ul li{
    list-style-type: none
}

#list {
    border: 1px solid black;
}

#formica {
    font-size: medium;
}

.entry {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    width: 95%;
    height: 18px;
    border: 2px outset rgb(255,228,196);
    background-color: rgb(245,245,220);
}

.righty {
    float: right;
}

.entry span {
    display: inline-block;
}

# this does not actually change anything because the design is set by
# the jquery-ui bit. Altering in the script does work. Here for reference.
.45box {
    width: 45%;
    display: inline-block;
}

div.groupbox p {
    margin: .25 ex;
}
