label, input, textarea{
    display: block;
}

input, textarea {
    width: 90%;
}

textarea {
    height: 8em;
}

.colorbox {
    border: 0;
    padding: 0;
    height: 2em;
}

pre {
    font-family: 'topaz500','mosoul',Monaco,monospace;
    font-size: 16;
    border: 2px inset #808080;
}

label {
    font-size: 10;
}

div ul li{
    list-style-type: none
}

#list {
    border: 1px solid black;
}

#formica {
    font-size: medium;
}

.entry {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    width: 95%;
    height: 18px;
    border: 2px outset rgb(255,228,196);
    background-color: rgb(245,245,220);
}

.righty {
    float: right;
}

.entry span {
    display: inline-block;
}

/* this does not actually change anything because the design is set by      */
/* the jquery-ui bit. Altering in the script does work. Here for reference. */
/*
.45box {
    width: 45%;
    display: inline-block;
}
*/

div.groupbox p {
    margin: .25 ex;
}

#dumparea {
    position: absolute;
    top: 1em;
    padding: 1em;
    margin: 1em;
    width: 90%;
    height: 90%;
    background: floralwhite;
    border: inset 2px royalblue;
}

#sahlioutput {
    font-family: 'microknight','P0t-nOodle',Monaco,monospace;
    font-size: 16;
    background: aliceblue;
    overflow-wrap: break-word;
    word-wrap: break-word;
    width: 100%;
    height: 95%;
    padding: 1ex;
    border: inset 2px royalblue;
}

#closespan {
    float: right;
    margin: 0px 0px 1ex;
    padding: 0px;

}

@font-face {
    font-family: 'P0t-nOodle';
    src: url('fonts/P0T-NOoDLE_v1.0.woff2') format('woff2');
    src: url('fonts/P0T-NOoDLE_v1.0.woff') format('woff');
}

@font-face {
    font-family: 'MicroKnight';
    src: url('fonts/MicroKnightPlus_v1.0.woff2') format('woff2');
    src: url('fonts/MicroKnightPlus_v1.0.woff') format('woff');
}

@font-face {
    font-family: 'mOsOul';
    src: url('fonts/mOsOul_v1.0.woff2') format('woff2');
    src: url('fonts/mOsOul_v1.0.woff') format('woff');
}

@font-face {
    font-family: 'Topaz1200';
    src: url('fonts/TopazPlusA1200.woff') format('woff2');
    src: url('fonts/TopazPlusA1200.woff') format('woff');
}

@font-face {
    font-family: 'Topaz500';
    src: url('fonts/TopazPlusA500.woff2') format('woff2');
    src: url('fonts/TopazPlusA500.woff') format('woff');
}

@font-face {
    font-family: 'blockzone';
    src: url('fonts/BlockZone.woff2') format('woff2');
    src: url('fonts/BlockZone.woff') format('woff');
}

.mosoul {
    font-family: mOsOul;
    text-align: left;
}

.pot-noodle , .p0t-noodle {
    font-family: 'P0t-nOodle';
    text-align: left;
}

.topaz, .topaz500 {
    font-family: 'Topaz500';
    text-align: left;
}

.propaz, .topaz1200 {
    font-family: 'Topaz1200';
    text-align: left;
}

.microknight, .microknightplus {
    font-family: 'MicroKnight';
    text-align: left;
}

.blockzone, .pcansifont {
    font-family: 'blockzone';
    text-align: left;
}
@font-face {
    font-family: 'P0t-nOodle';
    src: url('../fonts/P0T-NOoDLE_v1.0.woff2') format('woff2');
    src: url('../fonts/P0T-NOoDLE_v1.0.woff') format('woff');
}

@font-face {
    font-family: 'MicroKnight';
    src: url('../fonts/MicroKnightPlus_v1.0.woff2') format('woff2');
    src: url('../fonts/MicroKnightPlus_v1.0.woff') format('woff');
}

@font-face {
    font-family: 'mOsOul';
    src: url('../fonts/mOsOul_v1.0.woff2') format('woff2');
    src: url('../fonts/mOsOul_v1.0.woff') format('woff');
}

@font-face {
    font-family: 'Topaz1200';
    src: url('../fonts/TopazPlusA1200.woff') format('woff2');
    src: url('../fonts/TopazPlusA1200.woff') format('woff');
}

@font-face {
    font-family: 'Topaz500';
    src: url('../fonts/TopazPlusA500.woff2') format('woff2');
    src: url('../fonts/TopazPlusA500.woff') format('woff');
}

@font-face {
    font-family: 'blockzone';
    src: url('../fonts/BlockZone.woff2') format('woff2');
    src: url('../fonts/BlockZone.woff') format('woff');
}

.mosoul {
    font-family: mOsOul;
    text-align: left;
}

.pot-noodle , .p0t-noodle {
    font-family: 'P0t-nOodle';
    text-align: left;
}

.topaz, .topaz500 {
    font-family: 'Topaz500';
    text-align: left;
}

.propaz, .topaz1200 {
    font-family: 'Topaz1200';
    text-align: left;
}

.microknight, .microknightplus {
    font-family: 'MicroKnight';
    text-align: left;
}

.blockzone, .pcansifont {
    font-family: 'blockzone';
    text-align: left;
}
