label, input, textarea{
    display: block;
}

input, textarea {
    width: 90%;
}

textarea {
    height: 8em;
}

.colorbox {
    border: 0;
    padding: 0;
    height: 2em;
}

pre {
    font-family: 'TopazPlus a500a1000a2000','mOsOul',Monaco,monospace;
    font-size: 16;
}

label {
    font-size: 10;
}

#list {
    border: 1px solid black;
}